body{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


 .main{
  
    height: 100vh;
    background:linear-gradient(rgba(39,11,96,0.5),rgba(39,11,96,0.5)), url("images/oskar-kadaksoo-LJ8fAdGk-8M-unsplash.jpg");
    background-color:lightgrey;
   display: flex;
   align-items: center;
 justify-content: center; 
 
}

.main form .login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:rgb(182, 182, 221);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 1px 2px 1px 2px rgb(139, 132, 132);
}

.main form .login h1{
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px rgb(218, 92, 134) ;
}

.main form .login input{
    display: flex;
    align-items: center;
    /* border: 1 px solid rgba(211, 211, 211, 0.527); */
    height: 30px;
    border-radius: 6px;
    padding: 3px;
border: none;
}

.main form .login button{
    width: 50%;
    background-color: purple;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px;


}
@media (max-width:800px){

    .main form .login{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color:rgb(182, 182, 221);
        border-radius: 15px;
        padding: 30px;
        box-shadow: 1px 2px 1px 2px rgb(139, 132, 132);
    } 


    .main form .login h1{
        font-size: 20px;
        color: white;
        text-shadow: 2px 2px 2px rgb(218, 92, 134) ;
    }

    .main form .login input{
        display: flex;
        align-items: center;
        /* border: 1 px solid rgba(211, 211, 211, 0.527); */
        height: 25px;
        border-radius: 4px;
        padding: 3px;
    border: none;
    }

    .main form .login button{
        width: 70%;
        background-color: purple;
        border: none;
        color: white;
        border-radius: 4px;
        padding: 8px;
    
    
    }
    
    

}
  
@media (max-width:600px){
    .main form .login{
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color:rgb(182, 182, 221);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 1px 2px 1px 2px rgb(139, 132, 132);
    }

    .main form .login h1{
        font-size: 15px;
        color: white;
        text-shadow: 2px 2px 2px rgb(218, 92, 134) ;
    }

    .main form .login input{
        display: flex;
        align-items: center;
        /* border: 1 px solid rgba(211, 211, 211, 0.527); */
        height: 20px;
        border-radius: 2px;
        padding: 3px;
    border: none;
    }
    

    .main form .login button{
        width: 80%;
        background-color: purple;
        border: none;
        color: white;
        border-radius: 4px;
        padding: 5px;
    
    
    }
    
}
